<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style>
body::-webkit-scrollbar { display: none; }
.a{width: 100%;  height: 100%;  overflow: auto;}
body{overflow-y:scroll;}
td{ background-color: Azure; color:black;}
td:hover{ background-color: DarkSlateGrey; color:white;}
th{ background-color: DarkSlateGrey; color:white;}
th:hover{ background-color: Azure; color:black;}
</style>
</head>
<body>

 <div  id="regid" data-ng-controller="RegistrationController">
 
		
		<div class="container-fluid tab-pane a">
		<br/><br/><br/><br/>
	    <div class="row  text-center">
		<div class="col-1"></div>
		<div class="col-10">
			<form><table class="table table-bordered mb-5" style="text-align:center;">
				<tr>
	                <th>Date</th>
					<th>Faculty id</th>
	                <th>Attendance</th>
					<th>Quick Actions</th>
				</tr>
				<tr>
					<td> <input type="date"  class="form-control"  data-ng-model="data.object.date" required/> </td>
					<td>
					 <select class="form-control"  data-ng-model="data.object.facultyid" required>
                           <option data-ng-repeat="x in userdetailsforhod" data-ng-value="x.username">{{x.username}} </option>
                     </select>
					</td>
               	    <td> 
               	     <select class="form-control"  data-ng-model="data.object.attendance" required>
                           <option data-ng-value="Present">Present </option>
                            <option data-ng-value="Absent">Absent </option>
                     </select>
                    </td>
					<td style="display:none;"><input type="text"  class="form-control" data-ng-model="data.object.branchcode"></td>
					<td>
					<button type="button"  class="btn btn-primary btn-md" data-ng-click="insertFacultyAttendance(data.object);">
					<span class="glyphicon glyphicon-pencil "> ADD </span>
				     </button>
				    </td>
				</tr>
				<tr>
				<td colspan="1">
                <input type="date"  class="form-control bg-warning"  data-ng-model="select.date.sdate" required/>
                <input type="text"  class="form-control"  data-ng-model="select.date.branchcode" style="display:none;"/>
                </td>
                <td colspan="1">
                 <input type="date"  class="form-control bg-warning"  data-ng-model="select.date.edate" required/>
                </td>
                <td colspan="2">
                <input type="button" value="Get Attendance" class="btn btn-warning btn-md" class="form-control"  data-ng-click="viewFacultyAttendance(select.date);"/>
                </td>
				</tr>
				<tr data-ng-repeat="userattendance in facultyAttendance">
				    <td> <input type="date"  class="form-control"  data-ng-model="userattendance.date" data-ng-value="userattendance.date" required disabled> </td>
					<td> 
					<select class="form-control"  data-ng-model="userattendance.facultyid" data-ng-value="userattendance.facultyid" required disabled>
                           <option data-ng-repeat="x in userdetailsforhod" data-ng-value="x.username" data-ng-selected="userattendance.facultyid==x.username">{{x.username}} </option>
                     </select>
					</td>
					
               	    <td>  
               	    <select class="form-control"  data-ng-model="userattendance.attendance" data-ng-value="userattendance.attendance" required>
                           <option data-ng-value="Present" data-ng-selected="userattendance.attendance=='Present'">Present </option>
                            <option data-ng-value="Absent" data-ng-selected="userattendance.attendance=='Absent'">Absent </option>
                    </select>
                    </td>
					<td style="display:none;"><input type="text"  class="form-control" data-ng-model="userattendance.branchcode"></td>
					<td>
					<button type="submit" data-ng-click="updateFacultyAttendance(userattendance);" class="btn btn-success btn-md">
							<span class="glyphicon glyphicon-pencil">Modify</span>
					</button>
					<button type="submit"  data-ng-click="removeFacultyAttendance(userattendance);" class="btn btn-danger btn-md">
							<span class="glyphicon glyphicon-pencil">Delete</span>
					</button>
				    </td>
				</tr>
				</table></form>
			</div>
			<div class="col-1"></div>
			</div>
		</div>
		

		
 </div>
 
	<script>
		jQuery(document).ready(function() {
			var currentPage='d';
			localStorage.setItem("currentPage",currentPage);
			angular.bootstrap(jQuery("#regid"), [ 'RegistrationModule' ]);
			
		});
		
	</script>

</body>
</html>