<style>
input,select,option { 
    text-align: center; 
}
.a::-webkit-scrollbar { display: none; }
.a{width: 100%;  height: 100%;  overflow: auto;}
body{overflow-y:scroll;}
td{ background-color: Chartreuse; color:black;}
td:hover{ background-color: ForestGreen; color:white;}
th{ background-color: ForestGreen; color:white;}
th:hover{ background-color: Chartreuse; color:black;}
</style>
<br><br><br>
<div  id="regid" data-ng-controller="RegistrationController" class="a">
		<div class="container-fluid tab-pane mb-20">
        <form>
		<div class="row text-center">
		<div class="col-1"></div>
		<div class="col-4">
		      <input type="date"  class="form-control bg-warning"  data-ng-model="select.date.sdate" required/>
              <input type="text"  class="form-control"  data-ng-model="select.date.username" style="display:none;"/>
		</div>
		<div class="col-4">
		      <input type="date"  class="form-control bg-warning"  data-ng-model="select.date.edate" required/>
		</div>
		<div class="col-2">
		     <input type="button" value="Get Attendance" class="btn btn-warning btn-md" class="form-control"  data-ng-click="viewIndividualFacultyAttendance(select.date);"/>
		</div>
		<div class="col-1"></div>
		</div></form>
	    <div class="row  text-center" id="ma">
		<div class="col-1"></div>
		<div class="col-10">

			<table class="table table-bordered" style="text-align:center;">
			<tr>
			<th>Date</th>
			<th>Attendance</th>
			</tr>
			<tr data-ng-repeat="individualuserattendance in individualfacultyAttendance">
				<td><input type="date" data-ng-model="individualuserattendance.date" class="form-control" style="border-radius:50px; color:black; background-color:yellow;" disabled> </td>
				<td><input type="text" data-ng-model="individualuserattendance.attendance" class="form-control" style="border-radius:50px; background-color:aqua; color:black;" data-ng-show="individualuserattendance.attendance=='Present'" disabled>
				<input type="text" data-ng-model="individualuserattendance.attendance" class="form-control" style="border-radius:50px; background-color:orange; color:black;" data-ng-show="individualuserattendance.attendance=='Absent'" disabled>
				<input type="text" data-ng-model="individualuserattendance.attendance" class="form-control" style="border-radius:50px; background-color:red; color:white;" data-ng-show="individualuserattendance.attendance=='Attendance Not Inserted'" disabled>
				<input type="text" data-ng-model="individualuserattendance.attendance" class="form-control" style="border-radius:50px; background-color:pink; color:black;" data-ng-show="(individualuserattendance.attendance!='Present')&&(individualuserattendance.attendance!='Attendance Not Inserted')&&(individualuserattendance.attendance!='Absent')" disabled></td>
			</tr>
			</table>
		</div>
		<div class="col-1"></div>
		</div><br><br>
		</div>
		</div>
 
	<script>
	
		jQuery(document).ready(function() {
			var currentPage='e';
			localStorage.setItem("currentPage",currentPage);
			angular.bootstrap(jQuery("#regid"), [ 'RegistrationModule' ]);
		});
		
	</script>
